<a href="https://colab.research.google.com/github/Vijayaranagn/Twitter--Scrapping/blob/main/Twitter-Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install beautifulsoup4
!pip install pymongo
!pip install streamlit
!pip3 install snscrape

In [3]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:@@daniel86cricket').get_items()):
    if i>2000:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.url, tweet.content, tweet.user.username, tweet.replyCount, tweet.retweetCount, tweet.lang, tweet.source, tweet.likeCount])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Url', 'Tweet Content', 'User', 'Reply Count', 'Retweet Count', 'Language', 'Source', 'Like Count'])

<ipython-input-3-54428e30d1bc>:11: FutureWarning: content is deprecated, use rawContent instead
  tweets_list2.append([tweet.date, tweet.id, tweet.url, tweet.content, tweet.user.username, tweet.replyCount, tweet.retweetCount, tweet.lang, tweet.source, tweet.likeCount])

In [4]:
tweets_df2.to_csv('Daniel_tweet.csv', sep = ',', index = False)
tweets_df2.head()

,Datetime,Tweet Id,Url,Tweet Content,User,Reply Count,Retweet Count,Language,Source,Like Count
0,2023-02-09 03:51:47+00:00,1623530072056508418,https://twitter.com/daniel86cricket/status/162...,Cheating ü§ù Team36üáÆüá≥\n\nhttps://t.co/Gll1JnVrba,daniel86cricket,0,0,en,"<a href=""http://twitter.com/download/android"" ...",7
1,2023-02-08 23:13:40+00:00,1623460079847501826,https://twitter.com/daniel86cricket/status/162...,The only batsman to be ranked in top 3 in all ...,daniel86cricket,0,1,en,"<a href=""http://twitter.com/download/android"" ...",63
2,2023-02-08 09:58:56+00:00,1623260081860104192,https://twitter.com/daniel86cricket/status/162...,List of batsmen to be ranked in top 3 across a...,daniel86cricket,0,57,en,"<a href=""http://twitter.com/download/android"" ...",1571
3,2023-02-08 08:21:31+00:00,1623235563242369026,https://twitter.com/daniel86cricket/status/162...,@imVkohli https://t.co/bmfURODim3,daniel86cricket,42,4,qme,"<a href=""http://twitter.com/download/android"" ...",105
4,2023-02-08 05:04:56+00:00,1623186090810134528,https://twitter.com/daniel86cricket/status/162...,Virat Kohli's Test batting since 1st January 2...,daniel86cricket,1,14,en,"<a href=""http://twitter.com/download/android"" ...",352

In [5]:
from pymongo import MongoClient
from datetime import datetime

current_time = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

from pymongo import MongoClient
from datetime import datetime

current_time = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

client = MongoClient("mongodb+srv://Vijay22db:Vijay1991@cluster0.r2mw2pu.mongodb.net/test")
db = client.twitter_scraping
collection = db.tweets

df = pd.read_csv("/content/Daniel_tweet.csv") 

data = df.to_dict("records")

collection.insert_many(data)

In [6]:
import streamlit as st
import tweepy
import pymongo

# Connect to MongoDB
client = MongoClient("mongodb+srv://Vijay22db:Vijay1991@cluster0.r2mw2pu.mongodb.net/test")

# Choose the database
# Choose the collection
db = client.twitter_scraping
collection = db.tweets

# Authenticate to Twitter API
auth = tweepy.OAuthHandler("consumer_key", "consumer_secret")
auth.set_access_token("access_token", "access_token_secret")

# Initialize API client
api = tweepy.API(auth)

def scrape_tweets(query, start_date, end_date, limit):
    # Scrape tweets
    tweets = tweepy.Cursor(api.search_tweets,
              q=query,
              lang="en",
              tweet_mode='extended',
              since_id=start_date,
              until=end_date,
              count=limit).items()

    # Store the tweets in a list
    tweets_list = []
    for tweet in tweets:
        tweets_list.append(tweet._json)

    # Convert the list of tweets to a DataFrame
    df = pd.DataFrame(tweets_list)

    return df

def upload_to_mongodb(df):
    # Convert the DataFrame to a dictionary
    data = df.to_dict("records")

    # Insert the data into MongoDB
    collection.insert_many(data)

def download_to_csv(df):
    # Export the DataFrame to a CSV file
    df.to_csv("tweets.csv", index=False)

def download_to_json(df):
    # Export the DataFrame to a JSON file
    df.to_json("tweets.json")

def main():
    st.title("Twitter Scraper")

    # Get the keyword or hashtag to be searched
    query = st.text_input("Enter the keyword or hashtag to be searched:")

    # Get the start and end dates
    start_date = st.text_input("Enter the start date (YYYY-MM-DD):")
    end_date = st.text_input("Enter the end date (YYYY-MM-DD):")

    # Get the limit on the number of tweets to be scraped
    limit = st.text_input("Enter the limit on the number of tweets to be scraped:")

    if st.button("Scrape Tweets"):
        df = scrape_tweets(query, start_date, end_date, limit)
        st.dataframe(df)

        if st.button("Upload to Database"):
            upload_to_mongodb(df)
            st.success("Data uploaded to MongoDB!")

        if st.button("Download as CSV"):
            download_to_csv(df)
            st.success("Data downloaded as CSV!")

        if st.button("Download as JSON"):
            download_to_json(df)
            st.success("Data downloaded as JSON!")